<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireframe Example</title>
    <link rel="stylesheet" href="../styles/mis-colaboraciones.css">
    <link rel="stylesheet" href="../styles/navegacion.css">
    <link rel="icon" type="image/x-icon" href="../imagenes/favicon.ico">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="../imagenes/logo.png" alt="Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="./mis-colaboraciones.html" class="menu-select">Mis colaboraciones</a></li>
                <li><a href="../heladeras/registrar.mustache">Registrar heladera</a></li>
                <li><a href="../heladeras/visualizar.mustache">Heladeras</a></li>
                <li><a href="./puntos.html">Puntos</a></li>
                <li><a href="./donar-viandas.html">Donar viandas</a></li>
                <li><a href="../reportes/reportes.html">Reportes</a></li>
                <li><a href="./registro-persona-vulnerable.html">Registrar persona</a></li>
            </ul>
        </nav>
    </header>

    <section class="actions">
        <a href="../colaboraciones/carga-csv.html">Cargar CSV</a>
        <button>Colaborar</button>
    </section>

    <section class="cards row">
        <div class="card">
            <div class="icon">💰</div>
            <h3>Donar Dinero</h3>
            <p>Fecha: 11/06/23</p>
            <p>Monto: $120.000</p>
            <p>Frecuencia: -</p>
        </div>

        <div class="card">
            <div class="icon">🍽️</div>
            <h3>Donar Vianda</h3>
            <p>Fecha: 11/06/23</p>
            <p>Tipo: ...</p>
            <p>Calorías: 250</p>
            <p>Heladera: Heladera Medrano UTN</p>
            <p>Estado: Entregada</p>
        </div>

        <div class="card">
            <div class="icon">📦</div>
            <h3>Distribuir Vianda</h3>
            <p>Origen: Heladera Medrano UTN</p>
            <p>Destino: Heladera FMED</p>
            <p>Cantidad: 23</p>
            <p>Motivo: Fallos De Temperatura</p>
            <p>Fecha: 15/3/23</p>
        </div>

        <div class="card">
            <div class="icon">🧊</div>
            <h3>Hacerse Cargo De Una Heladera</h3>
            <p>Heladera: Heladera Medrano UTN</p>
        </div>

        <div class="card">
            <div class="icon">📦</div>
            <h3>Distribuir Vianda</h3>
            <p>Origen: Heladera Lacroze</p>
            <p>Destino: Heladera Callao Y Corrientes</p>
            <p>Cantidad: 8</p>
        </div>

        <div class="card">
            <div class="icon">💰</div>
            <h3>Donar Dinero</h3>
            <p>Fecha: 5/01/23</p>
            <p>Monto: $10.000</p>
            <p>Frecuencia: anual</p>
        </div>
    </section>
</body>

</html>