.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    text-align: center;
}

.result-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.result-message span {
    margin-left: 10px;
    font-size: 23px;
}

img.csv-formato {
    margin: 30px 0px;
    max-width: 100%;
    height: auto;
}