* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    padding: 20px;
    padding-top: 30px;
}


.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.actions>a,
.actions>button {
    background-color: #8cd1cd;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: #000000;
}

.actions a {
    text-decoration: none;
}

.actions>*:hover {
    background-color: #40bfbf;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #d8f0ee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 350px;
    flex: 1 1 350px;
}

.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}