/* Estilos para el header */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 0px;
    color: #145e59;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
    box-shadow: 0px 4px 15px -5px hsl(0, 0%, 90%);
}

.user-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.user-foto {
    border-radius: 100%;
    width: inherit;
    height: inherit;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 20px;
    width: 70px;
    /*lleva 20px mas por el padding*/
    height: 50px;
    object-fit: cover;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

nav ul li {
    margin: 10px;
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
    color: #145e59;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #145e59;
    color: white;
}

.menu-select {
    border-bottom: 2px solid #145e59;
}