body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-button {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.2rem;
    top: 5px;
    left: 20%;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    color: #145e59;
    z-index: 10;
}



.form-container {
    max-width: 600px;
        margin: 50px auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #2a5549;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.radio-label {
    font-weight: normal;
}


input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.file-upload {
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    color: #777;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
/*
.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}*/

.file-upload:hover {
    background-color: #f0f0f0;
}

.radio-inline {
    display: flex;
    align-items: center;
    gap: 15px;
}

.required {
    color: red;
}

.button-container {
    text-align: center;
}

.button {
    background-color: #8cd1cd;
    font-weight: bold;
}

.button:hover {
    background-color: #40bfbf;
    color: #ffffff;
}

.button-container button,
.button-container a {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}


.points-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    top: 5px;
}

.points-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.points-container #puntos {
    font-weight: bold;
    color: #2b5d4e;
}

.button-container {
    margin-top: 20px;
}

.offer-button {
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



.cards-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    z-index: 1;
}

.card {
    background-color: #c2e9e9;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    color: #145e59;
    font-size: 20px;
    margin: auto;
}

.card p {
    color: #333;
    margin-bottom: 20px;
}

.canjear-button {
    padding: 10px 20px;

    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-puntos {
    display: flex;
    flex-wrap: wrap;
}

.col-puntos {
    display: flex;
    justify-content: center;
}


.error{
    color: red;
}