.volver {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.campo {
    background-color: #ededed;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    height: auto;
}

.detalle h1 {
    font-size: 2rem;
    color: #2f4f4f;
    margin-bottom: 20px;
}

.detalle-info {
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foto-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-height: auto;
    border-radius: 30px;
    padding: 40px;
}

.foto-container img {
    max-width: 100%; /* Limita el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: para darle bordes redondeados a la imagen */
}

.foto h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
